Default publisher_ALProject1_1.0.0.0.app
.alpackages/Microsoft_Application_19.4.35398.35482.app
.alpackages/Microsoft_Base Application_19.4.35398.35482.app
.alpackages/Microsoft_System Application_19.4.35398.35482.app
.alpackages/Microsoft_System_19.0.35391.35473.app
.vscode/launch.json
